
.allPosts{
  width:38vw;
  margin:auto;
  left:0;
  right:0;
  margin-top: 4vw;
  position: absolute;
  padding: 1vw 1vw 1vw 1vw;
  background-color: #ffffff;
  box-shadow: 1px 1px 1px 1px grey;
  margin-bottom:10%;
}

.post{
  border-bottom: 1px solid grey;
  padding: 0.7vw;
  margin-bottom: 1.8vw;
}

.subHead{
  font-weight: bold;
  color: dodgerblue;
  font-family: Calibri;
  font-size: 1.1vw;
}

.postBody{
  font-size:0.9vw;
}

.spinner {
  margin-left:40%;
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #3498db;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}